.wrapper {
  height: 70vh;
  h1 {
    letter-spacing: 1.2px;
    font-size: 2.875rem;
  }
  h5 {
    margin-top: 15px;
    letter-spacing: 1.08px;
    font-size: 0.857rem;
    text-transform: uppercase;
    text-align: center;
  }
  .order-number {
    margin-top: 63px;
    width: 50%;
  }
  .button {
    margin-top: 20px;
  }
}