<!-- <header class="flex align-center justify-between">
  <p>{{ pageTitle }}</p>
  <div class="actions">
    <tcode-button type="normal">Product Categories</tcode-button>
    <tcode-button type="normal">Add product</tcode-button>
  </div>
</header>
<mat-tab-group>
  <mat-tab label="Real estate">
    <ng-template matTabContent>
      <p>Real estate</p>
    </ng-template>
  </mat-tab>
</mat-tab-group> -->
<tcode-product-list-lib
  [pageTitle]="pageTitle"
  (ProductAdd)="handleProductAdd()"
>
  <div class="content">
    <mat-tab-group>
      <mat-tab label="Real estate">
        <ng-template matTabContent>
          <tcode-table 
            [dataSource]="tableData$ | async"
            [tableColumns]="tableColumns"
            [pageSize]="10"
            [length]="(tableData$ | async)?.data?.length"
            (onSearch)="navigateToDetailPage($event)"
          ></tcode-table>
        </ng-template>
      </mat-tab>
      <mat-tab label="Farm produce">
        <ng-template matTabContent>
          <tcode-table 
            [dataSource]="tableData$ | async"
            [tableColumns]="tableColumns"
            [pageSize]="10"
            [length]="(tableData$ | async)?.data?.length"
            (onSearch)="navigateToDetailPage($event)"
          ></tcode-table>
        </ng-template>
      </mat-tab>
      <mat-tab label="Inverter products">
        <ng-template matTabContent>
          <tcode-table 
            [dataSource]="tableData$ | async"
            [tableColumns]="tableColumns"
            [pageSize]="10"
            [length]="(tableData$ | async)?.data?.length"
            (onSearch)="navigateToDetailPage($event)"
          ></tcode-table>
        </ng-template>
      </mat-tab>
    </mat-tab-group> 
  </div>
</tcode-product-list-lib>