<!-- <h1>Welcome to {{ title }}!</h1>
<span class="subtitle">multiconcept LTD</span> -->
<tcode-navbar>
  <div class="logo-section">
    <img src="../assets/img/logo.png" alt="logo">
  </div>
  <div class="action-section">
    <img src="../assets/img/search.svg" class="search" alt="search">
    <img src="../assets/img/user.svg" class="profile" alt="profile">
    <img src="../assets/img/heart.svg" class="wishlist" alt="wishlist">
    <mat-icon matBadge="15" matBadgeColor="warn" class="cart" matBadgeSize="small">local_mall</mat-icon>
  </div>
</tcode-navbar>
<router-outlet></router-outlet>