<header class="hero" @fade>
  <div class="content">
    <h5>Find the best deals on home properties</h5>
    <h1>We guarantee we'll help <br> you find a place you love</h1>
    <div class="button">
      <tcode-button type="normal">Get Started</tcode-button>
    </div>
    <ul class="cards">
      <li class="card">
        <div class="image">
          <img src="../../assets/img/power 1.svg" alt="power" class="icon">
        </div>
        <div class="text">
          <p class="header">Inverter & Solar Power</p>
          <p class="content-text">Power up your home and office with steady power.</p>
        </div>
      </li>
      <li class="card">
        <div class="image">
          <img src="../../assets/img/home.svg" alt="power" class="icon">
        </div>
        <div class="text">
          <p class="header">Real Estate</p>
          <p class="content-text">Find great deals on home properties, both rent and buy.</p>
        </div>
      </li>
      <li class="card">
        <div class="image">
          <img src="../../assets/img/feather.svg" alt="power" class="icon">
        </div>
        <div class="text">
          <p class="header">Agro Machine & Produce</p>
          <p class="content-text">All the agro produce and machinery you can ever want.</p>
        </div>
      </li>
    </ul>
  </div>
</header>

<section class="product-listing flex flex-center flex-col">
  <div class="header">
    <h2 class="title">We have the most listings</h2>
    <p class="sub-title">So you will never miss out</p>
  </div>
  <div class="products">
    <tcode-product-item *ngFor="let product of generalProducts" [product]="product" (click)="gotoProduct(product)"></tcode-product-item>
  </div>
</section>

<section class="product-listing flex flex-center flex-col bg-grey">
  <div class="header">
    <p class="sub-title">Best selling in</p>
    <h2 class="title">Real Estate</h2>
  </div>
  <div class="products">
    <tcode-product-item *ngFor="let product of realEstateProducts" [product]="product" (click)="gotoProduct(product)"></tcode-product-item>
  </div>
  <div class="button">
    <tcode-button type="normal" (click)="navigateToRealEstate()">Explore Real Estate</tcode-button>
  </div>
</section>

<section class="product-listing flex flex-center flex-col">
  <div class="header">
    <p class="sub-title">Best selling in</p>
    <h2 class="title">Inverter & Solar Power</h2>
  </div>
  <div class="products">
    <tcode-product-item *ngFor="let product of inverterProducts" [product]="product" (click)="gotoProduct(product)"></tcode-product-item>
  </div>
  <div class="button">
    <tcode-button type="normal" (click)="navigateToInverters()">Explore Inverter & Solar Power</tcode-button>
  </div>
</section>

<section class="product-listing flex flex-center flex-col bg-grey">
  <div class="header">
    <p class="sub-title">Best selling in</p>
    <h2 class="title">Agro Machinery & Produce</h2>
  </div>
  <div class="products">
    <tcode-product-item *ngFor="let product of farmProducts" [product]="product" (click)="gotoProduct(product)"></tcode-product-item>
  </div>
  <div class="button">
    <tcode-button type="normal" (click)="navigateToFarmProduce()">Explore Agro Machinery & Produce</tcode-button>
  </div>
</section>

<section class="advert flex flex-center flex-col">
  <div class="title">
    <h2>Get to know about</h2>
    <h2 class="text-uppercase">Tcode multiconcept limited</h2>
  </div>
  <p>Start building your finances with our well thought out <br> investment plans</p>
  <small>In case you don't know, an investment is an asset or item acquired <br>with the goal of generating income or appreciation.<br> TCODE INVESTMENT deals with Money Market-Fund, Real Estate and <br>General Merchandise. In an economic sense, an investment is the...</small>
  <tcode-button type="normal">Learn more</tcode-button>
</section>
