<div class="wrapper">
  
  <div class="content grid">
    <div class="footer-section address">
      <p class="title text-uppercase">Address</p>
      <p class="text">FUNAAB Alabata Road <br> Abeokuta, Ogun State <br> Nigeria </p>
    </div>
    <div class="footer-section contact">
      <p class="title text-uppercase">Contact</p>
      <p class="text">T: +234 816 429 6027</p>
      <p class="text">E: contact@tcodeinvestment.com</p>
    </div>
    <div class="footer-section quicklinks">
      <p class="title text-uppercase">Quick Links</p>
      <ul>
        <li>
          <p>FAQ</p>
        </li>
        <li>
          <p>Terms & Condition</p>
        </li>
        <li>
          <p>Privacy Policy</p>
        </li>
      </ul>
    </div>
    <div class="footer-section socials">
      <p class="title text-uppercase">Socials</p>
      <ul>
        <li><img src="assets/img/facebook 1.svg" alt="facebook icon"></li>
        <li><img src="assets/img/twitter 1.svg" alt="twitter icon"></li>
        <li><img src="assets/img/messaging-whatsapp 1.svg" alt="whatsapp icon"></li>
        <li><img src="assets/img/instagram 1.svg" alt="instagram icon"></li>
      </ul>
    </div>
  </div>
  <span class="line"></span>
  <p class="text-center copyright">&#169; {{ year }} T-code Investment</p>
</div>