<div class="wrapper">
  <div class="content grid">
    <div class="footer-section address">
      <p class="title text-uppercase">Address</p>
      <p class="text">FUNAAB Alabata Road <br> Abeokuta, Ogun State <br> Nigeria </p>
    </div>
    <div class="footer-section contact">
      <p class="title text-uppercase">Contact</p>
      <p class="text">T: +234 816 429 6027</p>
      <p class="text">E: contact@tcodeinvestment.com</p>
    </div>
    <div class="footer-section quicklinks">
      <p class="title text-uppercase">Quick Links</p>
    </div>
    <div class="footer-section socials">
      <p class="title text-uppercase">Socials</p>
    </div>
  </div>
</div>