@import '../../../media';

.wrapper {
  background: #F4F8FC;
  padding-top: 40px;
  .content {
    width: 70%;
    margin: 0 auto;
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
    padding-bottom: 40px;
    @include media('<tablet') {
      grid-template-columns: 1fr !important;
      grid-gap: 1rem;
    }
    .footer-section {
      .title {
        color: #1E266D;
        font-weight: bold;
      }
      .text {
        color: #4F4F4F;
        font-weight: lighter;
        line-height: 25px;
      }
      &.address {
        .text {
          color: #4F4F4F;
          font-weight: lighter;
          margin-top: 16px;
          line-height: 25px;
        }
      }
      &.contact {
        .text {
          margin-top: 16px;
          @include media('<tablet') {
            margin: 0;
          }
        }
      }
      &.quicklinks {
        ul {
          list-style: none;
          margin-top: 16px;
          li>p{
            color: #4F4F4F;
            font-weight: lighter;
            line-height: 25px;
            cursor: pointer;
            color: #1D66FF;
          }
        }
      }
      &.socials {
        ul {
          list-style: none;
          margin-top: 16px;
          display: inline-flex;
          li {
            cursor: pointer;
            &:not(:last-of-type) {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .line {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background: #CFDFEF;
      bottom: 0;
      padding: 1px;
      width: 80vw;
      left: 139px;
      margin: 0 auto;
      @include media('<tablet') {
        width: 100vw !important;
        left: 0;
      }
    }
  }
  .copyright {
    margin-top: 15px;
    padding-bottom: 17px;
    color: #4F4F4F;
    font-weight: lighter;
  }
}