@import '../color';

:host {
  display: block;
  font-family: sans-serif;
  min-height: 100vh;
}

.mat-drawer.mat-drawer-side {
  width: 220px !important;
  overflow-y: scroll !important;
  background: $primary;
  color: white;
}
.mat-drawer-content {
  padding-left: 220px !important;
  margin: 0 !important;
}
.mat-drawer-container {
	height: 100vh !important;
}
