<div class="wrapper grid">
  <tcode-img-preview
   [images]="product?.images">
  </tcode-img-preview>
  <div class="details flex flex-col">
    <p class="product-name">{{ product?.title}}</p>
    <p class="sub-title">{{ product?.type | titlecase }}</p>
    <p class="price">{{ product?.price.value | currency: (product?.price?.currency): 'code' }}</p>
    <tcode-product-rating 
      [score]="productUserScore === 0 ? product?.rating?.userScore : product?.rating?.totalScore"
      [totalRatings]="product?.rating?.totalRatings"
      (onRate)="rateProduct($event)"
    >
    </tcode-product-rating>
    <div class="action flex">
      <div class="quantity flex item-center ">
        <img src="assets/img/minus.svg" alt="minus-icon" class="cursor-pointer mr-1" (click)="adjustQuantity(-1)">
        <span> {{ productQuantity }} </span>
        <img src="assets/img/plus.svg" alt="plus-icon" class="cursor-pointer ml-1" (click)="adjustQuantity(1)">
      </div>
      <tcode-button type="normal" (click)="addToCart()">
        Add to cart 
      </tcode-button>
    </div>
    <div class="description">
      <p class="title bold">Description</p>
      <p class="describe">{{ product?.description}}</p>
    </div>
  </div>
</div>