<div class="wrapper" [formGroup]="shippingInfoFormGroup">
     <p class="title">Shipping method</p>
     <div class="shipping-type">
        <mat-radio-group aria-label="Select an option" formControlName="shippingMethod">
            <mat-radio-button value="standard" color="primary" class="flex standard">Standard shipping <span>{{ "1000" | currency: "NGN":"symbol-narrow"}}</span></mat-radio-button>
            <mat-radio-button value="express" color="primary" checked>Express shipping</mat-radio-button>
        </mat-radio-group>
     </div>

      <p class="title">Payment method</p>
      <div class="payment">
        <mat-radio-group aria-label="Select an option" formControlName="paymentMethod">
            <mat-radio-button value="cash" color="primary">Cash on delivery</mat-radio-button>
            <mat-radio-button value="card" color="primary" checked>Debit/Credit card payment</mat-radio-button>
        </mat-radio-group>
     </div>

     <div class="action flex">
          <a [routerLink]="['../']" class="back-btn flex item-center">
              <img src="assets/img/arrow-left 2.svg" alt="back"> Back to information
          </a>
          <tcode-button type="normal" (click)="submit()" [state]="lState" [disabled]="shippingInfoFormGroup.invalid || lState === 'loading'">
              Continue
          </tcode-button>
      </div>
</div>