@import '../../../media';

:host {
  &::ng-deep {
    .mat-radio-label {
      .mat-radio-label-content {
        display: flex !important;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
.wrapper {
    @include media('<tablet') {
      padding: 1rem 2rem;
    }
     .title {
          margin-top: 20px;
          margin-bottom: 20px;
          font-size: 1.375rem;
      }
      form {
          display: flex;
          flex-direction: column;
        
          .control {
            display: flex;
            margin-bottom: 1rem;
            align-items: center;
        
            & > * {
              flex: 1;
              margin-right: .8rem !important;
              &:last-of-type {
                margin-right: 0 !important;
              }
            }
          }
        
          tcode-input {
            margin: 0 !important;
          }
        }
        .action {
          justify-content: space-between;
          margin-top: 20px;
          .back-btn {
            color: #02B075;
            font-size: 0.875rem;
          }
        }  
     .payment, .shipping-type {
       mat-radio-group {
         display: grid;
         grid-row-gap: 20px;
         mat-radio-button {
            border: 1px solid #cfdfdf;;
            padding: 12px;
            border-radius: 6px;
         }
       }
     }
}