<section class="wrapper">
  <header class="flex align-center">
    <h1>Order Id</h1>
    <p>{{orderId}}</p>
  </header>
  <section class="metadata flex">
    <tcode-card
      [config]="initialCardConfig"
    >
      <section class="card-body">
        <ng-container *ngIf="order$ | async as order; else loadingRef">
          <ul class="grid">
            <li class="grid point">
              <p class="label">Date created</p>
              <p class="value">{{ order?.createdAt  | date:"medium"}}</p>
            </li>
            <li class="grid point">
              <p class="label">Status</p>
              <p class="value" [ngClass]="{ status }">{{ order?.status | titlecase }}</p>
            </li>
            <li class="grid point">
              <p class="label">Customer</p>
              <p class="value">{{order?.user?.firstName | titlecase}} {{order?.user?.lastName | titlecase}}</p>
            </li>
            <li class="grid point">
              <p class="label">Payment option</p>
              <p class="value">{{ order?.paymentMethod?.type}}</p>
            </li>
          </ul>
        </ng-container>
      </section>
    </tcode-card>
    <tcode-card [config]="initialCardConfig">
      <section class="card-body">
        <ng-container *ngIf="order$ | async as order; else loadingRef">
          <ul class="grid">
            <li class="grid point">
              <p class="label">Shipping address</p>
              <p class="value">{{ order?.contact?.shippingInformation?.address }}</p>
            </li>
            <li class="grid point">
              <p class="label">State</p>
              <p class="value">{{ order?.contact?.shippingInformation?.shippingState }}</p>
            </li>
            <li class="grid point">
              <p class="label">Email address</p>
              <p class="value">{{ order?.contact?.contactInformation?.email }}</p>
            </li>
            <li class="grid point">
              <p class="label">Phone number</p>
              <p class="value">{{ order?.contact?.contactInformation?.phone }}</p>
            </li>
          </ul>
        </ng-container>
      </section>
    </tcode-card>
  </section>
  <section class="iteminfo">
    <tcode-table 
      [dataSource]="tableData"
      [tableColumns]="tableColumns"
      [pageSize]="10"
      [length]="tableData.data.length"
      [hasPagination]="false"
      [isSearchable]="false"
    ></tcode-table>
    <section class="total">
      <ul class="flex align-end flex-column">
        <li class="grid point">
          <p class="label">Standard shipping</p>
          <p class="value">{{ '30000' | currency:'NGN':"symbol-narrow" }}</p>
        </li>
        <li class="grid point total">
          <p class="label">Total</p>
          <p class="value">{{ '4000' | currency:'NGN':"symbol-narrow" }}</p>
        </li>
        <li></li>
      </ul>
    </section>
  </section>
  <section class="actions flex ">
    <tcode-button [disabled]="false" type="outline" class="secondary">
      Ship order
    </tcode-button>
    <tcode-button [disabled]="false" type="outline" class="secondary">
      Message customer
    </tcode-button>
    <tcode-button [disabled]="false" type="outline" class="secondary">
      Order invoice
    </tcode-button>
    <tcode-button [disabled]="false" type="outline" class="danger">
      Cancel order
    </tcode-button>
    <tcode-button [disabled]="false" type="outline" class="primary">
      Complete order
    </tcode-button>
  </section>
</section>

<ng-template #loadingRef>
  <div class="spinner">
    <div class="spin sm"></div>
  </div>
</ng-template>
