@import '../../../color';
@import '../../../button';

:host {
  &::ng-deep {
    tcode-table {
      table {
        width: 100%;
      }
      mat-paginator {
        display: none !important;
      }
    }
    @include button;
  }
}
.wrapper {
  width: 92%;
  margin: auto;
  header {
    color: $text;
    height: 50px;
    font-size: 22px;
    font-weight: 500;
  }
  .metadata {
    width: 80%;
    tcode-card {
      flex:1;
    }
  }
  .iteminfo {
    margin-top: 1.5rem;
  }
  .total {
    ul {
      list-style: none;
      li {
        padding: 1rem 0;
        grid-template-columns: 2fr 1fr;
        grid-gap: 19px;
        &.total {
          font-weight: bold;
        }
      }
    }
  }
  .actions {
    margin-bottom: 7rem;
    justify-content: space-between;
  }
}