main {
  height: 90px;
  background-color: #F4F8FC;
  display: flex;
  justify-content: flex-end;
  padding-right: 23px;
  .user-meta {
    position: relative;
    display: flex;
    align-items: center;
    .avatar {
      margin-right: 13px;
    }
    .user-info {
      margin-right: 30px;
      p {
        &:first-of-type {
          font-size: 0.8rem;
          color: #6D7D93;
          margin-bottom: 5px;
        }
        &:last-of-type {
          font-weight: 500;
          font-size: 1rem;
          color: #1E266D;
        }
      }
    }
    &::after {
      content: '';
      position: absolute;
      height: 46px;
      border-left: 1px solid #CFDFEF;
      right: 0px;
      margin-left: 10px;
    }
  }
  .action-center {
    display: flex;
    align-items: center;
    margin-left: 33px;
  }
}