@import "../../../color";

:host {
  &::ng-deep {
    tcode-card {
      width: 500px
    }
  }
}
header {
  color: $text;
  height: 90px;
  padding: 0 0 0 50px;
  font-size: 22px;
}
.card-body {
  ul {
    grid-gap: 0.9rem;
    justify-content: center;
    margin-top: 20px;
    li {
      grid-template-columns: 1fr 1fr;
      grid-gap: 19px;
      .label {
        text-align: end;
        color: $text;
        font-weight: lighter;
      }
      .value {
        color: $text;
        font-weight: 500;
      }
    }
  }
}