<header class="flex align-center">
  <p>{{ pageTitle }}</p>
</header>
<main class="flex flex-center">
  <tcode-card>
    <section class="card-avatar">
      <img class="avatar" src="../../../assets/img/Ellipse 25.svg">
    </section>
    <section class="profile-name">Daniel Adegoke</section>
    <section class="profile-role">Admin</section>
    <section class="card-body">
      <ul class="grid">
        <li class="grid point">
          <p class="label">Username</p>
          <p class="value">daniel1master</p>
        </li>
        <li class="grid point">
          <p class="label">Email address</p>
          <p class="value">daniel1master@gmail.com</p>
        </li>
        <li class="grid point">
          <p class="label">Phoone number</p>
          <p class="value">+2348098765634</p>
        </li>
      </ul>
    </section>
  </tcode-card>
</main>