/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

body {
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Montserrat', sans-serif;
}
p, ul, li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.grid {
  display: grid;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.pointer {
  cursor: pointer;
}
.mat-paginator-page-size {
  display: none !important;
}
.mat-tab-header, .mat-tab-nav-bar {
  border-bottom: 1px solid #CFDFEF;
}