<header class="logo-area">
  <img src="assets/img/logo_white.svg" alt=logo>
</header>
<section class="menu">
  <ul class="menu-items">
    <li class="menu-item">
      <img class="icon" src="../../../assets/img/trello 1.png" alt="icon">
      <p>DASHBOARD</p>
    </li>
    <li class="menu-item">
      <img class="icon" src="../../../assets/img/check-square.png" alt="icon">
      <p>ORDERS</p>
    </li>
    <li class="menu-item">
      <img class="icon" src="../../../assets/img/box.png" alt="icon">
      <p>PRODUCTS</p>
    </li>
    <li class="menu-item">
      <img class="icon" src="../../../assets/img/user 1.png" alt="icon">
      <p>CUSTOMERS</p>
    </li>
    <li class="menu-item">
      <img class="icon" src="../../../assets/img/users.png" alt="icon">
      <p>FARM VENDORS</p>
    </li>
    <li class="menu-item">
      <img class="icon" src="../../../assets/img/users.png" alt="icon">
      <p>REAL ESTATE AGENTS</p>
    </li>
    <li class="menu-item">
      <img class="icon" src="../../../assets/img/dollar-sign.png" alt="icon">
      <p>TRANSACTION LOGS</p>
    </li>
    <li class="menu-item">
      <img class="icon" src="../../../assets/img/mail 1.png" alt="icon">
      <p>MESSAGES</p>
    </li>
    <li class="menu-item">
      <img class="icon" src="../../../assets/img/user 1.png" alt="icon">
      <p>ADMIN PROFILE</p>
    </li>
  </ul>
  <div class="logout">
    <img src="../../../assets/img/log-out 1.png" alt="logout"> 
    <p>LOG OUT</p>
  </div>
</section>