<header class="flex logo-area justify-center">
  <img src="assets/img/logo_white.svg" alt=logo>
</header>
<section class="flex flex-column menu">
  <ul class="menu-items">
    <li class="menu-item">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="flex align-center pointer">
        <img class="icon" src="../../../assets/img/trello 1.png" alt="icon">
        <p>DASHBOARD</p>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="flex align-center pointer">
        <img class="icon" src="../../../assets/img/check-square.png" alt="icon">
        <p>ORDERS</p>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="flex align-center pointer">
        <img class="icon" src="../../../assets/img/box.png" alt="icon">
        <p>PRODUCTS</p>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="flex align-center pointer">
        <img class="icon" src="../../../assets/img/user 1.png" alt="icon">
        <p>CUSTOMERS</p>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="flex align-center pointer">
        <img class="icon" src="../../../assets/img/users.png" alt="icon">
        <p>FARM VENDORS</p>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="flex align-center pointer">
        <img class="icon" src="../../../assets/img/users.png" alt="icon">
        <p>REAL ESTATE AGENTS</p>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="flex align-center pointer">
        <img class="icon" src="../../../assets/img/dollar-sign.png" alt="icon">
        <p>TRANSACTION LOGS</p>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="flex align-center pointer">
        <img class="icon" src="../../../assets/img/mail 1.png" alt="icon">
        <p>MESSAGES</p>
      </a>
    </li>
    <li class="menu-item">
      <a [routerLink]="['/user-profile']" routerLinkActive="router-link-active" class="flex align-center pointer">
        <img class="icon" src="../../../assets/img/user 1.png" alt="icon">
        <p>ADMIN PROFILE</p>
      </a>
    </li>
  </ul>
  <div class="pointer flex align-centerlogout">
    <img src="../../../assets/img/log-out 1.png" alt="logout"> 
    <p>LOG OUT</p>
  </div>
</section>