<div class="wrapper">
  <div class="content">
    <ng-content select=".logo-section"></ng-content>
    <div class="links-section">
      <ul>
        <li [routerLink]="['']" routerLinkActive="router-link-active">Home</li>
        <li [routerLink]="['/farm-produce']" routerLinkActive="router-link-active" >Farm Produce</li>
        <li [routerLink]="['/inverters']" routerLinkActive="router-link-active">Inverter</li>
        <li [routerLink]="['/real-estate']" routerLinkActive="router-link-active">Real Estate</li>
        <li [routerLink]="['/track']" routerLinkActive="router-link-active">Track Delivery</li>
        <li [routerLink]="['/become-vendor']" routerLinkActive="router-link-active">Become a Vendor</li>
      </ul>
    </div>
    <ng-content select=".action-section"></ng-content>
    <img src="assets/img/menu.svg" class="mobile-menu-icon" [matMenuTriggerFor]="mobileMenu" alt="menu">
  </div>
</div>
<mat-menu class="mobile-menu" #mobileMenu="matMenu" xPosition="before">
  <button mat-menu-item><span [routerLink]="['']" routerLinkActive="router-link-active">Home</span></button>
  <button mat-menu-item><span [routerLink]="['/farm-produce']" routerLinkActive="router-link-active" >Farm Produce</span></button>
  <button mat-menu-item> <span [routerLink]="['/inverters']" routerLinkActive="router-link-active">Inverter</span></button>
  <button mat-menu-item><span [routerLink]="['/real-estate']" routerLinkActive="router-link-active">Real Estate</span></button>
  <button mat-menu-item><span [routerLink]="['/track']" routerLinkActive="router-link-active">Track Delivery</span></button>
  <button mat-menu-item><span [routerLink]="['/become-vendor']" routerLinkActive="router-link-active">Become a Vendor</span></button>
</mat-menu>
